@font-face {
  font-family: myFirstFont;
  src: url(good_times_rg.otf); /* from FontSpark*/
}

body {
  margin: 0;
  padding: 15px;
  font-family: myFirstFont;
  height: 100vh;
}



nav.mainMenu div {
  width: 53%;
  margin: 0 auto;
}

nav.mainMenu div * {
  margin: 5px 2px;
  font-size: 1.2em;
}

nav.mainMenu div a {
  text-decoration: none;
}

nav.mainMenu div a:hover {
  text-decoration: underline;
}

a {
  color:blueviolet;
  text-decoration: none;
}

/* '/' index.ejs Style */
section.centerSection div {
  width: calc(80% + 3px);
  margin: 38px auto 0;
}

section.centerSection h2 {
  width: calc(35% + 5px);
  margin: 128px auto 15px;
}

section.bottonSection h3 {
  margin: 20px auto 0;
  width: calc(32% + 20px);
}

section.bottonSection ul {
  width: calc(12%);
  margin: 43px auto 0;
}

/* '/programs' programs/index.ejs */
main h1 {
  width: calc(12% + 5px);
  margin: 50px auto 0;
}

main div.programsList {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  column-gap: 62px;
  row-gap: 25px;
  width: calc(74% + 10px);
  margin: 30px auto 0;
  padding: 5px;
}

main div.programsList > div {
  background-color: #eee;
  width: 19%;
}

main div.programsList div.img {
  width: calc(80% + 0px);
  height: 62px;
  margin: 5px auto 0;
  background-color: bisque;
}

main div.programsList h3 {
  width: 85px;
  margin: 17px auto 0;
}

main div.programsList div.workOutContent {
  width: calc(80% + 0px);
  height: 70px;
  overflow: hidden;
  margin: 10px auto 0;
  padding: 3px;
}

/* '/programs/:id' programs/show.ejs */
main section.lowerSection,
section.lowerSection {
  background-color: blanchedalmond;
}

.userDetailsHeader {
  text-align: center;
  margin: 30px;
  color: rgba(255, 255, 255, 0.747);
  text-shadow: 2px 2px 4px rgba(211, 207, 207, 0.515);
}

.nav-flex {
  display: flex;
  justify-content: space-evenly;
  font-size: 16px;
  background-color: #f3ae0e;
  margin: -15px -15px 0 -15px;
  padding: 15px;
  gap: 40px;
}

.navHeaders {
  padding-left: 20px;
  padding-right: 20px;
  border-right: 4px solid black;
  transition: background-color 0.4s ease;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navHeaders:hover {
  background-color: #d39207;
}

.login-flex {
  display: flex;
  justify-content: flex-end;
}

.main-page-top {
  margin: 200px 0 0 0;
  padding: 0 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-page-bot {
  margin: 240px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.justify-text {
  text-align: center;
}

.title {
  font-size: 80px;
  color: #e0a929;
}

.para {
  font-size: 30px;
  font-weight: bolder;
  color: rgba(255, 255, 255, 0.595);
}
.main-page-back {
  background-image: url(./mainpage.jpeg); /* Giphy */
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.no-line {
  text-decoration: none;
}

.userPic {
  border-radius: 150px;
  width: 150px;
  height: 150px;
  border: 4px solid #db9f11;
}

.userDetailsBox {
  border: 4px solid rgba(255, 255, 255, 0.616);
  border-image: linear-gradient(to bottom, #bd8b16 0%, rgb(24, 23, 23) 100%) 1;
  /* border-radius: 20px; */
  box-shadow: 0 0 10px rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px 100px;
  row-gap: 20px;
  background: linear-gradient(to bottom, #db9f11, #f3ae0e);
}

.userDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
}

.userDetailsFont {
  font-family: 'Crimson Text', serif;
  font-size: 16px;
  font-weight: bold;
}
.userDetailsHeader2 {
  text-align: center;
  font-size: 24px;
  margin: 20px;
  font-family: 'Crimson Text', serif;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.767);
  text-shadow: 2px 2px 4px rgba(211, 207, 207, 0.515);
}

.userIndexBg {
  background-image: url('./workout2.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.programIndexBody {
  text-align: center;
}

button,
button::after {
  padding: 16px 20px;
  font-size: 18px;
  background: linear-gradient(45deg, transparent 5%, #f3ae0e 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  line-height: 1;
  box-shadow: 6px 0px 0px #201f1f;
  outline: transparent;
  position: relative;
  cursor: pointer;
}

button::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  content: 'HOVER ME';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    #00e6f6 3%,
    #00e6f6 5%,
    #f3ae0e 5%
  );
  text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #000000;
  clip-path: var(--slice-0);
}

button:hover::after {
  cursor: pointer;
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }

  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }

  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }

  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }

  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }

  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }

  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }

  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }

  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }

  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }

  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
.add-container{
  display:flex;
  flex-direction: column;
  align-items:center;
}

.add-margin{
  margin: 7px 0;
  color: rgb(213, 213, 213);
}

.back-box{
  background-image: url('./workoutbox.jpeg');
  background-position: center;
  background-size: cover;
  height: 100vh;
}
