html {
  height: 100%;
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  background-image: linear-gradient(
    to right,
    rgb(0, 162, 255),
    rgb(119, 14, 14)
  );
}

a {
  color: #00b7ff;
}

.center {
  text-align: center;
  color: black;
}

.container {
  display: flex;
  flex-flow: column;
  gap: 10px;
  align-items: center;
}

.text-font {
  font-size: 20px;
}
