<body>
  <form action="/users/<%=user.id%>?_method=PUT" method="POST">
    <input type="text" name="user" value="<%=user.name%>">
    <button type="submit">Update user</button>
  </form>
</body>
</html>

