<h1>some header</h1>

<h1><%= title %></h1>

<form action="/programs" method="POST">
  <label>Workout Name</label>
  <input type="text" name="title" />
  <br />
  <textarea name="workout" id="workout" cols="30" rows="10"></textarea>
  <input type="submit" value="Add Program" />
</form>