<%- include('partials/header')  %>
<body class="main-page-back">
  
  <section class="main-page-top">
    <h2 class="title">Abs-olute fitness</h2>
    <div class="justify-text para">
      <% if (user) { %>
        Enjoy your stay, <%=user.name%>!
      <% } else { %>
        Login to start your Journey Today!
      <% } %>
    </div>
  </section>
</body>