<%- include('partials/header')  %>
<section class="centerSection">
  <h2>Start your Journey With Abs-olute fit</h2>
  <div>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum, quisquam autem repellat provident accusamus, veritatis sit repellendus quibusdam sint laudantium iste impedit libero ipsam optio omnis rem perferendis fuga. Animi?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum, quisquam autem repellat provident accusamus, veritatis sit repellendus quibusdam sint laudantium iste impedit libero ipsam optio omnis rem perferendis fuga. Animi?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum, quisquam autem repellat provident accusamus, veritatis sit repellendus quibusdam sint laudantium iste impedit libero ipsam optio omnis rem perferendis fuga. Animi?
  </div>
</section>
<section class="bottonSection">
  <h3>Login to access to our features which include</h3>
  <ul>
    <li>program feature</li>
    <li>program feature</li>
    <li>program feature</li>
    <li>program feature</li>
  </ul>
</section>
<%- include('partials/footer')  %>