<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="stylesheets/style.css" />
    <title>Home</title>
  </head>
  <body>
    <nav class="mainMenu">
      <div>
        <% if (user) { %>
          <a href="/">Main Page</a>
          <span>|</span>
          <a href="/programs">Programs</a>
          <span>|</span>
          <a href="/programs/new">Add Program</a>
          <span>|</span>
          <a href="/programs">Program Delete</a>
          <span>|</span>
          <a href="/user">User Details</a>
          <span>|</span>
          <a href="/logout">Logout</a>
        <% } else { %>
          <a href="/auth/google">LOG IN&nbsp;</a>
        <% } %>
      </div>
    </nav>
  </body>
</html>
