<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Home</title>
  </head>
  <body>
    <nav class="nav-flex">
      <div>
        <% if (user) { %>
          <div1 class="navHeaders">
            <a class="no-line" href="/">Main Page</a>
          </div1>
          <div2 class="navHeaders">
            <a href="/programs">Programs</a>

          </div2>
          <div3 class="navHeaders">
            <a href="/programs/new">Add Program</a>

          </div3>
          <div5 class="navHeaders">
            <a href="/user">User Details</a>
            
          </div5>
          <div6 class="login navHeaders">
            <a href="/logout">Logout</a>
          <% } else { %>
            <a href="/auth/google">LOG IN&nbsp;</a>
            <% } %>

          </div6>
      </div>
    </nav>
  </body>
</html>
